html{
  background-image: url(../img/sfondo.jpg);
}

body{
  width: 1000px;
  margin: auto;
  color: white;
}

header{
  border-bottom: 1px solid white;
  margin-top: 20px;
}

.gmail{
  display: inline-block;
}

.inputunread{
  border-bottom: 1px solid white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.unread{
  background-color: orange;
  border-radius: 50%;
  padding: 10px;
}

.rigaread{
  background-color: lightgrey;
  border: 1px solid black;
}

.rigaunread{
  background-color: white;
  border: 1px solid black;
}

.riga-sinistra{
  display: inline-block;
  width: 17%;
  color: black;
}

.riga-destra{
  display: inline-block;
  width: 82%;
  color: grey;
}

.credits{
  border-top: 1px solid white;
  margin-top: 5px;
  text-align: center;
}
